<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Grades</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1>Grades List</h1>
</header>
<main>

    <table class="table table-striped">
        <tbody>

        <label>Choose date: </label><br>
        <form th:method="POST" th:action="@{/grades}">
            <input type="datetime-local" name="beginGrade"/>
            <input type="datetime-local" name="endGrade"/>
            <button type="submit"
                    class="btn btn-sm btn-danger delete-product">
                <i class="fa fa-trash">Set Dates Between</i>
            </button>
        </form>

        <tr th:each="grade:${pageGrade}" class="course">
            <td th:text="${grade.getStudent().getUsername()}"></td>
            <td th:text="${grade.getCourse().getName()}"></td>
            <td th:text="${grade.getGrade()}"></td>
            <td th:text="${grade.getTimestamp()}"></td>
        </tr>

        <th:block th:if="${hasMoreGrades==true}">
        <form  th:method="GET" th:action="@{/grades/next}">
                <input type="submit" th:text="Next">
        </form>
        </th:block>

        </tbody>
    </table>


</main>
</body>
</html>
