<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<script>
    function find_id() {

        var courses = document.getElementsByName('courseId');
        var final;
        console.log("hello")
        for (let i of courses) {

            if (i.checked) {
                console.log(i.id);
                final = i.id;
            }
        }
        location.href = location.href + `/submit/${final}`;
    }
</script>
<body>
<header>
    <h1>Courses List</h1>
    <header>



        </th:block>
        <form th:action="@{/logout}">
        <button >LOG OUT</button>
        </form>
    </header>

</header>
<main>
    <h2>Choose course:</h2>

    <table class="table table-striped">
        <tbody>
        <tr th:each="course:${coursesController}" class="course">
            <td>

                <input type="radio" name="courseId" th:id="${course.courseId} " th:value="${course.courseId}"
                       th:text="${course.description}"/><br/>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:action="@{'/courses/delete/{id}' (id=${course.getCourseId()})}"
                          th:method="DELETE">
                        <button type="submit"
                                class="btn btn-sm btn-danger delete-product">
                            <i class="fa fa-trash">Delete</i>
                        </button>
                    </form>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:method="post" th:action="@{'/courses/add/edit-form/{id}' (id=${course.getCourseId()})}"
                          class="btn btn-sm btn-info edit-product">
                        <button type="submit"
                                class="btn btn-sm btn-primary cart-product">
                            <i class="fa fa-trash">EDIT</i>
                        </button>
                    </form>
                </th:block>

            </td>
            </td>
            <br>
        </tr>
        </tbody>
    </table>

    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <form th:method="post" th:action="@{/courses/add/edit-form}"
              class="btn btn-sm btn-info edit-product">
            <button type="submit"
                    class="btn btn-sm btn-primary cart-product">
                <i class="fa fa-trash">ADD NEW COURSE</i>
            </button>
        </form>
    </th:block>
    <th:block>
        <button type="submit"
                onclick="find_id();"
                class="btn btn-sm btn-primary cart-product">
            <i class="fa fa-trash">Submit</i>
        </button>
    </th:block>

    <a href="/grades">Show all grades</a>

</main>
</body>
</html>
